/* Body Styling  */
body {
  background-color: #a1ecd8;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* AlertBox Styling  */

#alertBox {
  background-color: #0f864b;
  color: black;
}

.alertHide {
  display: none;
}
.alertShow {
  display: block;
}

/* Navbar Styling  */
.buttonBorder {
  border-width: 3px;
}

.lightNavTheme {
  background-color: rgb(4, 63, 112);
}
.darkNavTheme {
  font-family: "Exo 2", sans-serif;
  background-color: rgb(9, 85, 95);
  font-weight: bolder;
  font-style: italic;
}
.logoSize {
  font-size: larger;
}
.lightNavTextColor {
  font-family: "Exo 2", sans-serif;
  font-weight: bolder;
  font-style: italic;
  color: rgb(235, 227, 158);
}
.darkNavTextColor {
  color: aqua;
}

/* Section Styling  */
.textform-sizing {
  font-size: large;
  font-weight: bold;
  width: 70%;
  margin: 1rem auto;
}

.textForm-titles {
  font-size: 3rem;
  text-shadow: 2px 2px 1px rgb(255, 0, 0);
}

.textBox-text {
  font-weight: bolder;
  color: black;
  border: 2px solid rgb(1, 1, 34);
}
.textSummary {
  font-size: small;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  margin: 1rem;
}

/* PreviewBox Styling  */

.previewDark {
  padding: 1rem;
  margin: 1rem;
  /* border: 2px solid rgb(177, 0, 0); */
  border-radius: 2rem;
  color: rgb(201, 201, 201);
  background: rgb(193, 197, 116);
  background: linear-gradient(
    0deg,
    rgb(6, 52, 78) 0%,
    rgba(0, 0, 3, 0.723) 100%
  );
}

.previewSize {
  font-weight: lighter;
  color: #dc143c;
}

/* Accordion Styling  */
.aboutAccordion {
  background-color: #071c21;
  color: white;
  border-radius: 1rem;
}
.aboutAccordionSizing {
  padding: 2rem;
}

.logo-text {
  background: linear-gradient(to right, hsl(98 100% 62%), hsl(204 100% 59%));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
}

/* Hamburger Icon Styling  */
.togglerDesign {
  background: rgb(68, 152, 231);
  border: 2px solid black;
}
.togglerDesign:hover {
  background-color: #0e7e4f;
  border: 2px solid black;
}

.toggleIcon {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.toggleIcon:hover {
  border-top: 2px solid black;
  border-bottom: 2px solid black;

  border-radius: 2px;
}
.toggleIcon:after {
  border-top: 2px solid black;
  border-bottom: 2px solid black;

  border-radius: 2px;
}

/* DarkModeButton Styling  */
#darkModeButton {
  margin: 0 1rem;
  padding: 1 1rem;
}
